!!! 5
%html{:class => "no-js", :lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title="Gravity Framework"
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    %script{:src => "http://html5shim.googlecode.com/svn/trunk/html5.js"}
    
    <!-- Mobile Specific Meta Tags -->
    %meta{:name => "viewport", :content => "width=device-width; initial-scale=1.0; maximum-scale=1.0;"}
  
    <!-- CSS -->
    <!-- Google Fonts API -->
    %link{:href => "http://fonts.googleapis.com/css?family=Droid+Sans:400,700", :rel => "stylesheet", :type => "text/css"}
    %link{:rel => "stylesheet", :href => "stylesheets/style.css", :type => "text/css"}

  %body
    %div#container
      <!-- You can delete everything inside this div -->
      - @text = "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."    
      %section
        %header
          %hgroup
            %h1.center Gravity
            %h2.center A responsive framework for modern websites

      %section
        %div.col-12
          %p Gravity is a framework for building exceptional HTML5 websites. It is built on a responsive 960 grid system but you can build your own grid easly through the in built grid generator.
        
      %section
        - 2.times do
          %div.col-6
            %h2 Heading 2
            %p= @text
            
      %section
        - 3.times do
          %div.col-4
            %h2 Heading 2
            %p= @text
          
      %section
        - 4.times do
          %div.col-3
            %h2 List Items
            %ul
              = list_of(['Lorem ipsum','Dolor sit','Consectetur']) do |i|
                = i + ' ' + i
            
      %section
        - 6.times do
          %div.col-2
            %p= @text
			
      %section
        %div.col-8
          %p= @text
          %p= @text
        %div.col-4
          %p= @text
          
      %footer
        %p
          %a{:href => "http://gravityframework.com"} GravityFramework
         
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"}
    %script{:src => "http://ajax.cdnjs.com/ajax/libs/underscore.js/1.1.6/underscore-min.js"}
    %script{:src => "http://ajax.cdnjs.com/ajax/libs/backbone.js/0.3.3/backbone-min.js"}
    %script{:src => "javascripts/application.js"}